table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 12px 15px;
}

td {
  padding: 10px 15px;
  color: #666;
  border-bottom: 1px solid #eeeeee;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f0f0f0;
}

.report-selection-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
}

.report-selection-dropdown, .generate-button, .export-button {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.generate-button, .export-button {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

.generate-button:hover, .export-button:hover {
  background-color: #0056b3;
  border-color: #004085;
}




/* Styling of body section set so that it fills up the whole screen*/
body {
  margin: 0;
  padding: 0;
}

/* This is the style of the actual header */
.header {
  background-color: #016A63;
  /* colour of background*/
  color: white;
  /* colour of text*/
  padding: 20px;
  /* padding added to make the header not look so thin*/
  font-family: Arial;
  /* font of text*/
  align-items: center;
  /*makes sure that all items are aligned inside the header */
  display: flex;
  /* This controls the positioning of elements and ensures that it is kept aligned*/
}

/* This is the CSS for the home button on the header */


/* The styling of the home button when it is being hovered upon */
.header a:hover {
  color: rgb(0, 0, 0);
  /*changes text colour to black*/
}

/* This is the CSS for the text on the header */
.header p {
  text-align: center;
  /* makes sure that this is centered in the middle of the header*/
  font-size: xx-large;
  /* size of text*/
  font-weight: bold;
  /* Makes the text bold*/
  margin: 0;
  /* Sets the margin area to 0*/
  flex: auto;
  /* this is set on this element as this is inbetween the other two elements ensuring that they are spaced out evenly*/
}

/* Styling for the button on the right of the header */
.icon {
  margin-right: 52px;
  /* set accordingly so that the sign out text can fit*/
}

/* Styling of the actual icon button prior to it being hovered*/
.icon-button {
  background-color: rgb(75, 231, 200);
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 15px;
  /* padding size set to fit text but not look too big either*/
  border-radius: 50%;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
  /* makes text go bold*/
}

/* Styling of options coming out of icon button */
.icon-list {
  display: none;
  /* ensures this stays hidden unless told otherwise*/
  position: absolute;
  /* makes sure that the header doesn't change and this pops up without affecting any other positioning*/
  background-color: rgb(81, 199, 183);
  /* colour of background*/
  padding: 15px;
  /* sets the size of the box*/
  border-radius: 10%;
  color: black;
  /* colour of text*/
}

/* Styling of options coming out of icon button when it is being hovered upon */
.icon-list:hover {
  background-color: rgb(37, 170, 130);
  /* new colour of background*/
  color: rgb(255, 255, 255);
  /* new colour of text*/
  text-decoration: none;
  /* This removes any hyperlinks or anything else*/
}

/* When the icon button is hovered upon then show the options */
.icon:hover .icon-list {
  display: block;
}

/* When options are being hovered on styling */
.options a:hover {
  background-color: rgb(75, 231, 200);
  /* new colour of background*/
  color: rgb(255, 255, 255);
  /* new colour of text*/
}

.inventory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inventory-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.inventory-item img {
  max-width: 100%;
  height: auto;
}

.inventory-item button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.inventory-item img {
  width: 200px;
  /* Set the desired width */
  height: 150px;
  /* Set the desired height */
}

.inventory-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* Adjust the gap as needed */
}

/* Catalog content styles */
.catalog-page {
  padding-top: 5%;
  padding-left: 25%;
  display: flex;
}

.catalog-content {
  flex: 1;
  padding: 20px;
}

.login-container {
  font-family: 'Trebuchet MS', sans-serif;
  color: #FEFED5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #34D0BA;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-logo {
  max-width: 1000px;
  margin-bottom: 20px;
}

.login-page-background {
  background-color: #016A63;
  min-height: 100vh;
  width: 100%;
}

/* Styling of body section set so that it fills up the whole screen*/
body {
  margin: 0;
  padding: 0;
}

/* This is the style of the actual header  */
.header {
  background-color: #016A63;
  /* colour of background*/
  color: white;
  /* colour of text*/
  padding: 0%;
  /* padding added to make the header not look so thin*/
  font-family: Arial;
  /* font of text*/
  align-items: center;
  /*makes sure that all items are aligned inside the header */
}

.header img {
  position: relative;
  left: 25%;
}

/* Styling for the button on the right of the header */
.icon {
  position: Absolute;
  right: 5%;
}

/* Styling of the actual icon button prior to it being hovered*/
.icon-button {
  background-color: #35D0BA;
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 100%;
  /* padding size set to fit text but not look too big either*/
  border-radius: 50%;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
  /* makes text go bold*/
}

/* Styling of options coming out of icon button */
.icon-list {
  display: none;
  /* ensures this stays hidden unless told otherwise*/
  background-color: rgb(200, 218, 214);
  /* colour of background*/
  padding: 15px;
  /* sets the size of the box*/
  color: black;
  /* colour of text*/
}

/* Styling of options coming out of icon button when it is being hovered upon */
.icon-list:hover {
  background-color: rgb(126, 134, 151);
  /* new colour of background*/
  color: rgb(255, 255, 255);
  /* new colour of text*/
  text-decoration: none;
  /* This removes any hyperlinks or anything else*/
}

/* When the icon button is hovered upon then show the options */
.icon:hover .icon-list {
  display: block;
}

.inventory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inventory-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.inventory-item img {
  max-width: 100%;
  height: auto;
}

.inventory-item button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.inventory-item img {
  width: 200px;
  /* Set the desired width */
  height: 150px;
  /* Set the desired height */
}

.inventory-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* Adjust the gap as needed */
}

/* Catalog content styles */
.catalog-page {
  padding-top: 5%;
  padding-left: 25%;
  display: flex;
}

.catalog-content {
  flex: 1;
  padding: 20px;
}

.container {
  display: flex;
}

/* Styling of side panel */
.options {
  height: 100vh;
  /*sets the height of the navigation bar to full height*/
  width: 20%;
  /* sets the width of the navigation bar to 20%*/
  position: absolute;
  /* without this positioning set the navigation bar does not extend to full height*/
  background-color: #34D0BA;
  /* colour of background*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font of text*/
  font-size: 20px;
  /* size of text*/
  font-weight: bold;
  color: white;
  /* colour of text*/
  text-align: center;
  /* centers the text*/

}

/* Styling of the actual option buttons */
.options a {
  color: white;
  /* colour of text*/
  padding: 15%;
  /* size of each section*/
  text-decoration: none;
  /* removes any hyperlinks on the text*/
  display: block;
  /*boxes each section*/
}

#selected {
  background-color: #1e8071;
  /* new colour of background*/
  color: rgb(255, 255, 255);
}



/* When options are being hovered on styling */
.options a:hover {
  background-color: #016A63;
  /* new colour of background*/
  color: rgb(255, 255, 255);
  /* new colour of text*/
}

/* Area which the content outside of the header and nav bar will sit in */
.container {
  display: flex;
}

/* side panel which will allow to select the appropriate contact for the user to message*/
.contact {
  /*width: 40%; /* sets the width of the navigation bar to 20%*/
  height: 100vh;
  width: 35%;
  padding: 0% 0% 0% 20%;
  background-color: rgb(228, 248, 253);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  overflow-y: auto;
  /* adds a scroll pane only if neccesary*/
}

/* To be used for the header section of this panel*/
.contact div {
  width: 100%;
  text-align: center;
  font-size: x-large;
  background-color: #B1D3FB;
  font-weight: bold;
  color: white;
  /* colour of text*/
  padding: 7% 0%;
  /* size of each section*/
  text-decoration: none;
  /* removes any hyperlinks on the text*/
  display: block;
  /*boxes each section*/
}


/* To be used for actual contacts, that will be seperated into blocks  */
.contact button {
  width: 100%;
  text-align: center;
  background-color: #C3F7ED;
  color: black;
  /* colour of text*/
  padding: 5% 0%;
  /* size of each section*/
  border: 0ch;
  font-size: large;
  font-family: Arial;
  text-decoration: none;
  /* removes any hyperlinks on the text*/
  display: block;
  /*boxes each section*/
}

/* CSS for when hovering on the contact in the side panel */
.contact button:hover {
  background-color: #0F715D;
  /* new colour of background*/
  color: rgb(255, 255, 255);
  /* new colour of text*/
}

/* CSS for the area which the messages will sit in*/
.messages {
  height: 80vh;
  width: 45%;
  padding-top: 5vh;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: rgb(250, 250, 250);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
  overflow-y: auto;
  /* adds a scroll pane only if neccesary*/
}

/* CSS for the actual messages sent and received */
.messages div {
  padding: 1%;
  background-color: rgb(199, 232, 253);
  /* colour of background*/
  width: 75%;
  margin-top: 1%;
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
  overflow-y: auto;
  /* adds a scroll pane only if neccesary*/
  border-color: navy;
  border-radius: 4px;
}

/* CSS for the area which users can send the messages */
.textcontainer {
  position: absolute;
  width: 42%;
  height: 12.5vh;
  margin-top: 85vh;
  margin-left: 52.75%;
  padding-top: 1%;
  padding-left: 5%;
  background-color: rgb(220, 220, 220);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
}

/* Send button to send the message */
#send {
  background-color: rgb(1, 163, 51);
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 15px;
  /* padding size set to fit text but not look too big either*/
  border-radius: 20%;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
}

/* Hover effect on the send button */
#send:hover {
  color: black;
}

/* area to type the messages needing to be sent */
#textBox {
  width: 80%;
  padding: 1vh;
}

/* area which will contain the creation fields */
.creation {
  height: 100vh;
  padding: 0% 0% 0% 20%;
  background-color: rgb(228, 248, 253);
  /* colour of background*/
}

/* to be used in each creation field */
.creation div {
  font-weight: bold;
  width: 75%;
  padding: 2vh;
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
  overflow-y: auto;
  /* adds a scroll pane only if neccesary*/
  border-radius: 4px;
}

/* To be used on specific texts */
.creation a {
  color: red;
}

/* area which button will sit in*/
.buttoncontainer {
  position: absolute;
  width: 56%;
  height: 8.5vh;
  margin-top: 70vh;
  margin-left: 20%;
  padding-top: 2.5vh;
  padding-left: 5%;

}

/* Button to save and create user */
#save {
  background-color: rgb(1, 163, 51);
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 15px;
  /* padding size set to fit text but not look too big either*/
  border-radius: 20px;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
  float: right;
}

/* effect on hovering the save button */
#save:hover {
  color: black;
}

/* CSS to be used for the field to input data */
#fields {
  width: 60%;
  padding: 1vh;
  border: #B1D3FB;
  float: right;
}

/* CSS of the list of items showing up */
#restaurants {
  height: 10vh;
  width: 60%;
  padding: 1vh;
  border: #B1D3FB;
  float: right;
}

.user {
  /*width: 40%; /* sets the width of the navigation bar to 20%*/
  height: 100vh;
  width: 35%;
  padding: 0% 0% 0% 10%;
  background-color: rgb(228, 248, 253);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  overflow-y: auto;
  /* adds a scroll pane only if neccesary*/
}


.user div {
  width: 100%;
  text-align: center;
  font-size: x-large;
  background-color: #B1D3FB;
  font-weight: bold;
  color: white;
  /* colour of text*/
  padding: 10% 0%;
  /* size of each section*/
  text-decoration: none;
  /* removes any hyperlinks on the text*/
  display: block;
  /*boxes each section*/
}



.user ul {
  text-align: center;
  background-color: #C3F7ED;
  color: black;
  /* colour of text*/
  text-decoration: none;
  /* removes any hyperlinks on the text*/
  display: block;
  /*boxes each section*/
  list-style-type: none;
  padding-left: 0;
  /* size of each section*/
}

.user li {
  padding: 10%;
  /* size of each section*/
}

.user ul li:hover {
  background-color: #0F715D;
  /* new colour of background*/
  color: rgb(255, 255, 255);
  /* new colour of text*/
}

.description {
  height: 84vh;
  width: 45%;
  padding-top: 5vh;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: rgb(250, 250, 250);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
  overflow-y: auto;
  /* adds a scroll pane only if neccesary*/
}

.description div {
  background-color: rgb(199, 232, 253);
  /* colour of background*/
  width: 75%;
  margin-top: 1%;
  padding: 1vh;
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
  overflow-y: auto;
  /* adds a scroll pane only if neccesary*/
  border-radius: 4px;
}

#search {
  width: 80%;
  padding: 1vh;
  border: #B1D3FB;
}

.buttons {
  position: absolute;
  width: 42%;
  height: 8.5vh;
  margin-top: 89vh;
  margin-left: 52.75%;
  padding-top: 2.5vh;
  padding-left: 5%;
  background-color: rgb(220, 220, 220);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
}

#save {
  background-color: rgb(1, 163, 51);
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 15px;
  /* padding size set to fit text but not look too big either*/
  border-radius: 20px;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
}

#save:hover {
  color: black;
}

.delete {
  background-color: red;
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 15px;
  /* padding size set to fit text but not look too big either*/
  border-radius: 20px;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
}

.delete:hover {
  color: black;
}


#fields {
  width: 60%;
  padding: 1vh;
  float: right;
}

.description a {
  color: red;
}

.report-page {
  padding-top: 5%;
  padding-left: 25%;
  flex-direction: column;
  background: #E3F8FD;
  min-height: 90.5vh;
}

.custom-button {
  background-color: #23C5ED;
  border: 1px solid #23C5ED;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.custom-button:hover {
  background-color: #4CE7C8;
  border-color: #4CE7C8;
}

.custom-button:active {
  background-color: #1BA4B8;
  border-color: #1BA4B8;
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(35, 197, 237, .5);
}

.page-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  text-align: left;
  font-size: 24px;
}

.page-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #666;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.inventory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* */
.requests {
  /*width: 40%; /* sets the width of the navigation bar to 20%*/
  height: 100vh;
  width: 35%;
  padding: 0% 0% 0% 20%;
  background-color: rgb(228, 248, 253);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/



}

.requests div {
  width: 100%;
  text-align: center;
  background-color: rgb(242, 242, 242);
  font-weight: bold;
  color: black;
  /* colour of text*/
  padding: 7% 0%;
  /* size of each section*/
  text-decoration: none;
  /* removes any hyperlinks on the text*/
  display: block;
  /*boxes each section*/
}

.requests a {
  width: 100%;
  text-align: center;
  background-color: rgb(217, 217, 217);
  color: black;
  /* colour of text*/
  padding: 5% 0%;
  /* size of each section*/
  text-decoration: none;
  /* removes any hyperlinks on the text*/
  display: block;
  /*boxes each section*/
}

.requests a:hover {
  background-color: rgb(24, 77, 44);
  /* new colour of background*/
  color: rgb(255, 255, 255);
  /* new colour of text*/
}

.order_text {
  /*width: 40%; /* sets the width of the navigation bar to 20%*/
  height: 95vh;
  width: 45%;
  padding-top: 5vh;
  padding-left: 5%;
  background-color: rgb(216, 247, 252);
  /* colour of background*/
  font-family: Arial;
  /* font of text*/
  font-size: large;
  /* size of text*/
  color: black;
  /* colour of text*/
  text-align: left;
  /* centers the text*/
}

.approve {
  background-color: rgb(1, 163, 51);
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 15px;
  /* padding size set to fit text but not look too big either*/
  border-radius: 20%;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
}

.approve:hover {
  color: black;
}

.reject {
  background-color: red;
  /* colour of background*/
  border: white;
  /* colour of border*/
  padding: 15px;
  /* padding size set to fit text but not look too big either*/
  border-radius: 20%;
  /* provides curved box effect*/
  color: white;
  /* colour of text*/
  font-weight: bold;
}

.reject:hover {
  color: black;
}
